.form {
  border-top: 2px lightgray solid;
  margin-top: 2rem;
  padding: 2rem;
}

h3 {
  margin-bottom: 1rem;
}

form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

input {
  width: 100%;
  font-size: 1.1rem;
  padding: 0 0.5rem;
}
