.navbar {
  font-family: var(--montserrat-font);
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--gray-color);
}

.navbar h2 {
  color: var(--main-color);
  font-size: 1.875rem;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 1rem;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: var(--darkgray-color);
}

.links .active {
  color: var(--text-color);
}

.navbar svg {
  width: 1.9rem;
  color: var(--main-color);
  padding: 0.2rem;
  border-radius: 50%;
  border: 1px solid var(--gray-color);
  margin-left: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar svg:hover {
  transform: scale(1.1);
}

.navbar svg:active {
  transform: scale(0.9);
}

@media screen and (max-width: 560px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar a {
    flex: 0 0 100%;
    text-align: center;
  }
}
